/* *{
    border:1px solid red;
} */

.dash-parent{
    display:flex;
    flex-direction: column;
}

.title{
    font-size: 3rem;
}

.main{
    margin-top: 10rem;
    display:flex;
    flex-direction: column;
}

.greeting{
    line-height: 2.5rem;
}

.button{
    border:1px solid teal;
    border-radius: 5px;
    width:5%;
    padding-top:2px;
    padding-bottom:2px;
    background:teal;
    align-self: center;
    
}

.link{
    text-decoration: none;
    color:black;
}